// COLORS
$color-primary: #333333;
$acses-color: #333D4B;
$card-color:#2C343E;
$cart-item: #0E8784;
$number-color: #FDD6BA;
$btn-color:#0E8784;

// Container
$width-container: 1200px;
$p-container: 30px;

// FONTS
$font-stack: "Arial", sans-serif;
// Border

$border-lg:10px;
$border-md:8px;
$border-sm:6px;
